.img-size {
    display: flex;
    align-items: center;
    img {
        width: 100%;
        background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
        height: auto;
        border-radius: 4px;

    }
}

.green {
     color: green;
}

.golden {
    color: rgb(255,215,0);
}

.silver {
    color: #C0C0C0;
}

.display-4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(2, 1, 22);
}