<div class="container-fluid card bg-light mb-3">
    <div class="row rounded-border">
        <div class="col-md-6 col-sm-12 img-size">
            <img src="../../../assets/computer.png" alt="">
        </div>
        <div class="col-md-6 col-sm-12 d-flex align-items-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h4 class="m-0">Angular Basics</h4>
                    </div>
                    <div class="col-12">
                        <span>Instructor led course</span>
                    </div>
                    <div class="col-12 mt-2 mb-3">
                        <div class="row">
                            <span class="col-6 ">
                                <i class="fa fa-calendar" aria-hidden="true"> </i>
                                34 Topics
                            </span>
                            <span class="col-6">
                                <i class="fa fa-circle" aria-hidden="true"> </i>
                                Online
                            </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <i class="fa fa-star" aria-hidden="true"> </i>
                        <i class="fa fa-star" aria-hidden="true"> </i>
                        <i class="fa fa-star" aria-hidden="true"> </i>
                        <i class="fa fa-star" aria-hidden="true"> </i>
                        <i class="fa fa-star" aria-hidden="true"> </i>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>