<div class="container-fluid card bg-light mb-3">
    <div class="row rounded-border">
        <div class="col-md-6 col-sm-12 img-size mt-3">
            <img src="../../../assets/{{cardContent.image}}" alt="">
        </div>
        <div class="col-md-6 col-sm-12 d-flex align-items-center mt-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0 display-4">{{cardContent.cardHeading}}</p>
                    </div>
                    <div class="col-12">
                        <span>{{cardContent.cardSubHeading}}</span>
                    </div>
                    <div class="col-12 mt-2 mb-3">
                        <div class="row">
                            <span class="col-4 ">
                                <i class="fa fa-calendar" aria-hidden="true"> </i>
                                3 months
                            </span>
                            <span class="col-4 ">
                                <i class="fa fa-file" aria-hidden="true"> </i>
                                {{cardContent.topic}}
                            </span>
                            <span class="col-4">
                                <i class="fa fa-circle green" aria-hidden="true"> </i>
                                {{cardContent.type}}
                            </span>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <i class="fa fa-star golden" aria-hidden="true"> </i>
                        <i class="fa fa-star golden" aria-hidden="true"> </i>
                        <i class="fa fa-star golden" aria-hidden="true"> </i>
                        <i class="fa fa-star golden" aria-hidden="true"> </i>
                        <i class="fa fa-star silver" aria-hidden="true"> </i>
                    </div>
                    <div class="col-12 mt-3 mb-2 d-flex align-items-baseline">
                        <i class="fa fa-inr" aria-hidden="true"> </i>
                        <p class="lead "><strong>{{cardContent.price}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>