.img-size {
    display: flex;
    align-items: center;
    img {
        width: 100%;
        background-color: rgb(195, 195, 244);
        height: auto;
        border-radius: 4px;
    }
}

.green {
     color: green;
}