.f_2 {
    font-family: 'Playfair Display', serif;
}

.banner-bg {
    background: #152974;
}

.banner-search {
    .header-capt {
        color: #fff;
        font-size: 2rem;
        letter-spacing: 2px;
        line-height: 1.2;
    }

    .subheader-capt {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 200;
        letter-spacing: 2.2px;
        line-height: 1.1;
    }

    .btn.btn-modern.dark {
        background: #da0b4e;
        color: #ffffff;
    }
}