<!-- header -->
<!-- <div class="container-fluid">
  <sh-header-bar></sh-header-bar>
</div> -->

<!-- Banner -->
<div class="container-fluid">
  <div class="row align-items-center banner-bg">
    <div class="col-lg-6 col-md-6 col-sm-12 my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-9 offset-md-3 banner-search">
            <h1 class="header-capt cl_2 mb-4">
              Learning Experience Made Easy, Social and Interactive
            </h1>
            <p class="subheader-capt">Study any topic, anytime. <br> Choose from thousands of expert-led courses now.
            </p>
            <div class="mt-4">
              <a href="#" class="btn btn-modern bg-warning">Enroll Now<span><i class="ti-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="flixio pt-5">
        <img class="img-fluid" src="../assets/eloip.png" alt="">
      </div>
    </div>

  </div>
</div>

<!-- Hot and Popular Category -->
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12 d-flex flex-column align-items-center mt-2 mb-3">
      <p class="m-0">Popular Category</p>
      <h2 class="m-0">
        <span class="text-danger"> Hot & Popular </span> Category To Learn
      </h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div *ngFor="let card of cardData" class="col-md-3 col-sm-12">
      <sh-cards [cardTitle]="card.cardTitle" [cardImage]="card.cardImage"></sh-cards>
    </div>
  </div>
</div>

<!-- Popular Category -->
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12 d-flex flex-column align-items-center mt-2 mb-3">
      <p class="m-0">Hot & Trending</p>
      <h2 class="m-0">
        <span class="text-danger">Featured </span> Courses of the <span class="text-success">Month</span>
      </h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div *ngFor="let card of bigCardData" class="col-md-4 col-sm-12">
      <sh-big-cards [cardContent]="card"></sh-big-cards>
    </div>
  </div>
</div>
